<%= render "/pages/nav" %>
<div class="container-fluid" >
    <div class="row main-content bg-color text-center">
        <div class=" text-center p-5 text-light">
            <h2 class="font">Sync New Moments </h2> 
            <hr> <br>

            <%= form_with scope: :task, url: create_task_path, local: true do |f| %>

            <p>
                <%= f.text_field :name, placeholder: "Title Your Precious Memory", class: "form__input fields", required: true %>
            </p>

            <p>
                <%= f.text_area :body, placeholder: "Share Your Experience", class: "form__input fields", required: true %>
            </p>
        <div class="d-flex justify-content-around">
            <p>
            <%= f.label :date, "Moment Date:" %><br>
                <%= f.date_field :date, required: true %>
            </p>

            <p>
    <%= f.label :category_id, "Life's Moments Hub:" %><br>
    <%= f.select :category_id, options_from_collection_for_select(@categories, :id, :name), class: "form-select form-select-lg mb-3", required: true%>
  </p>
        </div>
            <p class="p-3">
                <%= f.submit "Sync Moment", class: "btn btn-success"  %>
                <%= link_to "Cancel", dashboard_path, class: "btn btn-warning"  %>
            </p>

            <% end %>
        </div>
    </div>
</div>