
<%= render "/pages/nav" %>
<div class= "d-flex flex-column align-items-center vw-100 "  >
  <div class="text-center">
    <br>
    <h5>Welcome to your Dashboard,
    <%= @user.name %>!</h5>
    <br>
     
    <br>
    <%= form_with url: dashboard_path, method: :get do |f| %> 
      <p>
      <%= f.date_field :selected_date, value: @selected_date, class: "p-2 rounded-3 border border-light " %>
      <%= f.submit "Submit", class: "btn btn-success" %>
      </p>
    <% end %>

    <div class="container-lg" >
    <div class=" bg-color p-5 ">
    <% if @tasks_by_category.present? %>
     
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @tasks_by_category.each do |category, tasks| %>
       <% tasks.each do |task| %>
          <tr>
          <th scope="row"><%= task.name %></th>
        <td><%= task.category.name %></td>
        <td><%= task.body %></td>
        <td><%= task.date %></td>
        <td><%= link_to "Edit", edit_task_path(tasks), class: "btn btn-warning" %>
      <%= link_to "Delete", destroy_task_path(tasks), method: :delete, class: "btn btn-danger" %></td>
      </tr>
      <% end %>
      <% end %>
  </tbody>
</table>
   
      
    
    <% else %>
    <h5>No Task Found</h5>
    <p>
        <%= link_to "Add new task", new_task_path, class: "text-decoration-none" %>
    </p>
    <% end %>

</div>
   
  </div>

  <div class="d-flex justify-content-evenly p-5">
    <p><%= link_to "Manage Categories", categories_path, class: "btn btn-dark" %></p>
    <p><%= link_to "View All Tasks", tasks_path, class: "btn btn-dark" %></p>
    <p><%= link_to "Add new task", new_task_path, class: "btn btn-dark" %></p>
  </div>
</div>

